*{
    margin: 0;
}
.hidden-in-laptop{
    display: none;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.right-top{
    display: flex;
    gap: 30px;
    font-size: 20px;

}
.line-par{
    font-weight: bold;
    border-bottom: 5px solid #5454D4;
    padding-bottom: 10px;
}
.top button{
    border: none;
    padding: 20px 60px;
    color: white;
    background-color: #FF7143;
    font-size: 18px;
    border-radius: 10px;
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section-1{
    width: 40%;
}
.left-section-1 h2{
    width: 60%;
    font-size: 70px;
}
.left-section-1 p{
    color: #696871;
    font-size: 20px;
    width: 60%;
    margin-top: 30px;
}
.left-section-1 button{
    border: none;
    padding: 20px 50px;
    background-color: #5454D4;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.left-section-1 img{
    border: 1px solid #E7E7E7;
    padding: 15px 15px;
    border-radius: 50%;
}
.box-1{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.part-3{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.fourth-part{
    margin: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 40px 0;
}
.right-4{
    width: 40%;
}
.right-4 h2{
    font-size: 50px;
}
.right-4 p{
    color: #696871;
    font-size: 20px;
    width: 50%;
    margin-top: 30px;
}
.right-4 button{
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: #5454D4;
    font-weight: bold;
    margin-top: 30px;
}
.box-2 {
    display: flex;
    justify-content: center;
    gap: 70px;
}
.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.div1 h4 {
    font-size: 24px;
    margin-top: 20px;
}

.div1 p {
    margin-top: 20px;
    font-size: 20px;
    color: #696871;
    width: 80%;
}
.part-4{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.part-4 h2{
    font-size: 60px;
}
.part-5{
    background-color: #F7F7FB;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
}
.but-1{
    border: none;
    padding: 20px 60px;
    color: white;
    font-size: 18px;
    background-color: #5454D4;
    border-radius: 10px 0px 0px 10px;
    font-weight: bold;
}
.but-2{
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 0 60px;
}
.three-part{
    margin-top: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 150px;
}
.first-one{
    width: 20%;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 30px 0;
}
.parr{
    color:#696871;
    font-size: 20px; 
    text-align: center;
    margin-bottom: 20px;
}
.first-one h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}
.first-one button{
    border: none;
    padding: 20px 0;
    width: 80%;
    background-color: #FFFFFF;
    color: #5454D4;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}
.sec-one{
    background-color: #FF7143;
    padding: 50px 0;
}
.parr2{
    color: white;
}
.sec-one button{
    background-color: #9F3919;
    color: white;
}
.sec-one h3{
    color: white;
}




@media(max-width:510px){
     .hidden-in-phone{
        display: none;
     }
     .hidden-in-laptop{
        display: block;
     }
     .top{
        padding: 20px 0px;
        justify-content: center;
        gap: 150px;
     }
     .three-line{
            font-size: 45px;
     }
     .section-1{
        margin-top: 20px ;
        flex-direction: column;
     }
     .left-section-1{
        width: 90%;
        padding: 0 5%;
     }
     .left-section-1 h2{
        font-size: 40px;
        width: 100%;
        text-align: center;
     }
     .left-section-1 p{
        width: 100%;
     }
     .box-1 button{
        width: 100%;
     }
     .right-section-1{
        margin-top: 40px;
        width: 90%;
        padding: 0 5%;
     }
     .right-section-1 img{
        width: 100%;
     }
     .part-3{
        margin-top: 50px;
        flex-wrap: wrap;
        width: 90%;
        padding: 0 5%;
        align-items: center;
        gap: 30px;
     }
     .part-3 img{
        width: 45%;
     }
     .fourth-part{
        flex-direction: column-reverse;
     }
     .right-4{
        margin-top: 30px;
        margin-bottom:70px;
        width: 100%;
     }
     .right-4 h2{
        width: 100%;
        font-size: 32px;
     }
     .right-4 p{
        width: 100%;
     }
     .right-4 button{
        width: 100%;
     }
     .fifth-part{
        flex-direction: column;
     }
     .box-2{
        margin-top: 100px;
        flex-direction: column;
     }
     .part-4{
        flex-direction: column;
     }
     .part-4 h2{
        width: 90%;
        padding: 0 5%;
        font-size: 40px;
        text-align: center;
     }
     .part-5{
        width: 90%;
        margin: auto;
        margin-top: 30px;
     }
     .three-part{
        flex-direction: column;
        gap: 40px;
     }
     .first-one{
        width: 80%;
        padding: 70px 5%;
     }
}